body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", Arial,
    sans-serif;
  background-image: url("images/table.png");
  background-size: cover;
  font-weight: bold;
  color: white;
  text-align: center;
}

h1 {
  color: goldenrod;
}

#message-el {
  font-style: italic;
  /* Fallback Color */
  color: rgb(189, 216, 90);
  /* Gradient Color */
  background: rgb(151, 114, 195);
  background: -webkit-linear-gradient(to right, #B7DEED 0%, #71CEEF 25%, #21B4E2 75%, #B7DEED 100%);
  background: -moz-linear-gradient(to right, #B7DEED 0%, #71CEEF 25%, #21B4E2 75%, #B7DEED 100%);
  background: linear-gradient(to right, #B7DEED 0%, #71CEEF 25%, #21B4E2 75%, #B7DEED 100%);
  background-size: 100%;
  background-repeat: repeat;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  /* Shadow */
  text-shadow: 0px 0px 15px blue;
}

button {
  color: #016f32;
  width: 150px;
  background: goldenrod;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: bold;
  border: none;
  border-radius: 2px;
  margin-bottom: 2px;
  margin-top: 2px;
}

input {
  border: 2px solid black;
  border-radius: 2px;
  height: 4%;
  background: transparent;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", Arial,
    sans-serif;
  font-weight: bold;
  color: white;
  text-align: center;
  opacity: 1;

  /* Animation */
  /* animation: displayOfTextBox 0.5s ease-in forwards;
    -webkit-animation: displayOfTextBox 0.6s ease-in forwards;    */
}

@keyframes displayOfTextBox {
  100% {
    width: 0%;
    height: 0%;
    border: none;
    outline: none;
  }
}
@-webkit-keyframes displayOfTextBox {
  100% {
    width: 0%;
    height: 0%;
    border: none;
    outline: none;
  }
}
