@import url('https://fonts.googleapis.com/css2?family=ZCOOL+QingKe+HuangYou&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --blade-hue: 120;
  --blade-lightness: 50%;
}

body {
  background: rgb(0 0 0/0.9);
  padding: 0;
  margin: 0;
}

.lightsaber {
  position: absolute;
  bottom: 3em;
  left: 50%;
  font-size: 0.625rem;

  /* For Visualization */

  /* background: red; */
  /* height: 10%;
  width: 10%; */

  transform: translateX(-50%);
}

.lightsaber .bottom {
  width: 3em;
  height: 11em;
  background: #dad6d6;
  position: relative;
}
.lightsaber .bottom::before {
  content: "";
  background: inherit;
  position: absolute;
  left: 50%;
  width: 130%;
  height: 2em;
  bottom: 1em;
  transform: translateX(-50%);
}
.lightsaber .bottom::after {
  content: "";
  position: absolute;
  background: #333;
  left: 50%;
  width: 102%;
  height: 3em;
  bottom: 4em;
  transform: translateX(-50%);
}

.lightsaber .middle {
  position: relative;
  width: 2.6em;
  height: 6em;
  margin: 0 auto;
  background: linear-gradient(
    0deg,
    #333 8%,
    #dfee14 10%,
    #333 12%,
    #333 22%,
    #dfee14 24%,
    #333 26%,
    #333 36%,
    #dfee14 38%,
    #333 40%,
    #333 50%,
    #dfee14 52%,
    #333 54%,
    #333 64%,
    #dfee14 66%,
    #333 68%,
    #333 78%,
    #dfee14 80%,
    #333 82%
  );
}
.lightsaber .middle::before {
  content: "";
  position: absolute;
  background: #dad6d6;
  width: 70%;
  height: 1em;
  /* Bringing it exactly in the center */
  left: 50%;
  transform: translateX(-50%);
  top: -1em;
}

.lightsaber .top {
  position: relative;
  background: #dad6d6;
  height: 1em;
  width: 3em;
  margin-bottom: 0.9em;
  border-radius: 0 0 1em 1em;
}
.lightsaber .top::before {
  content: "";
  position: absolute;

  /* For Visualization */
  /* background: red; */

  width: 120%;
  height: 0.5em;
  top: -0.5em;

  /* Bringing it exactly in the center */
  left: 50%;
  transform: translateX(-50%);
}

.lightsaber .bottom,
.lightsaber .bottom::before,
.lightsaber .top,
.lightsaber .middle::before {
  background: linear-gradient(
    90deg,
    rgb(126 126 126 / 1) 0%,
    rgb(277 277 277 / 1) 20%,
    rgb(120 120 120 / 1) 50%,
    rgb(277 277 277 / 1) 80%,
    rgb(126 126 126 / 1) 100%
  );
}

.lightsaber .blade {
  position: relative;
  background: white;
  height: 0em;
  width: 1.8em;

  /* To center it in the middle */
  margin: 0 auto;

  border-radius: 2em 2em 0 0;
  transition: 0.7s;

  box-shadow: inset 0 0 5px
      hsl(var(--blade-hue) 100% var(--blade-lightness) / 0.2),
    0 0 5em hsl(var(--blade-hue) 100% var(--blade-lightness) / 0.8),
    0 0 10em hsl(var(--blade-hue) 100% var(--blade-lightness) / 0.7),
    0 0 2em hsl(var(--blade-hue) 100% var(--blade-lightness) / 0.5),
    0 0 3em hsl(var(--blade-hue) 100% var(--blade-lightness) / 0.3),
    0 0 0.5em hsl(var(--blade-hue) 100% var(--blade-lightness) / 1);

  animation: box-shadow 2s linear infinite;
}

@keyframes box-shadow {
  20% {
    box-shadow: inset 0 0 5px
        hsl(var(--blade-hue) 100% var(--blade-lightness) / 0.3),
      0 0 5em hsl(var(--blade-hue) 100% var(--blade-lightness) / 0.68),
      0 0 10em hsl(var(--blade-hue) 100% var(--blade-lightness) / 0.7),
      0 0 2em hsl(var(--blade-hue) 100% var(--blade-lightness) / 0.5),
      0 0 3em hsl(var(--blade-hue) 100% var(--blade-lightness) / 0.3),
      0 0 0.5em hsl(var(--blade-hue) 100% var(--blade-lightness) / 1);
  }

  70%,
  100% {
    box-shadow: inset 0 0 5px
        hsl(var(--blade-hue) 100% var(--blade-lightness) / 0.2),
      0 0 5em hsl(var(--blade-hue) 100% var(--blade-lightness) / 0.8),
      0 0 10em hsl(var(--blade-hue) 100% var(--blade-lightness) / 0.7),
      0 0 2em hsl(var(--blade-hue) 100% var(--blade-lightness) / 0.5),
      0 0 3em hsl(var(--blade-hue) 100% var(--blade-lightness) / 0.3),
      0 0 0.5em hsl(var(--blade-hue) 100% var(--blade-lightness) / 1);
  }
}

.lightsaber .blade::before {
  content: "";
  position: absolute;
  background: var(--blade-hue);
  width: 100%;
  height: 100%;
  z-index: 0;
  filter: blur(5px);
}

.lightsaber .bottom .switch-btn {
  position: absolute;
  box-shadow: inset 5px 5px 20px hsla(0, 30%, 96%, 0.781),
              0px -2px 3px hsl(0, 0%, 0%),
              1px 1px 3px hsl(0, 0%, 0%),
              -3px 2.5px 3px hsl(0, 0%, 0%);
  width: 1.5em;
  height: 1.5em;
  top: 1em;

  /* Bringing it exactly in the center */
  left: 50%;
  transform: translateX(-50%);

  border-radius: 50%;
  cursor: pointer;
}
.lightsaber .bottom .switch-btn:hover {
  background: hsl(0, 2%, 54%);
}


/* Toggle Class that will be added using Javascript */
.lightsaber .open-blade {
  height: 37em;
}

/* The color pickers */

.color-btn-wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 60px 50px;
  min-height: 100vh;
  place-items: center;
  font-family: "Source Sans Pro", sans-serif;
  text-transform: uppercase;
  font-size: 1.2rem;
}

[name="color"] {
  grid-row: 1 / 2;
  align-self: end;
  margin: 0.9em;
}

label {
  color: white;
  font-weight: bold;
  align-self: start;
  grid-row: 2 / 2;
}

footer {
  display: flex;
  justify-content: center;
  color: white;
  letter-spacing: 2px;
  text-shadow: 0 0 0.5em hsl(var(--blade-hue) 50% 50%),
    0 0 1em hsl(var(--blade-hue) 50% 50% / 0.75);
  font-size: 1.2rem;
  padding: 2em;
  margin-top: 5rem;
  animation: footer 3s linear infinite;
}

.instructions {
  display: flex;
  justify-content: flex-end;
  padding: 2rem;
  margin-top: -10.5rem;
  margin-right: 5rem;
  width: 100%;
  height: 100%;
  left: 50px;
  font-size: 1.2rem;
  color: white;
  font-family: 'ZCOOL QingKe HuangYou', cursive;
  
}

.arrow{
  width: 1rem;
  height: 1rem;
  color: white;
  z-index: 1000;
  margin-right: 1.5rem;
}

@keyframes footer {
  50% {
    text-shadow: 0 0 0.9em hsl(var(--blade-hue) 50% 60%),
    0 0 1.3em hsl(var(--blade-hue) 50% 50% / 0.95);
  }
}



